<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Командировка</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<section class="container">
    <div class="nav-button-group">
        <a href="/" class="nav-button">Вернуться обратно</a>
        <a href="/logout" class="nav-button cancel-button">Выйти из аккаунта</a>
    </div>
    <h2>
        Поездка {{datestart}} - {{dateend}}
    </h2>
    {{#unless role }}
        <h3>
            Добавить чеки
        </h3>
        <form class="file-form-group">
            <input type="file" name="files" class="file-input">
            <button class="button" type="submit">Загрузить</button>
        </form>
    {{/unless}}
    {{#if role}}
        <div class="button-group">
            <button class="button cancel-button">Скачать архив чеков</button>
            <button class="button">Составить отчёт</button>
        </div>
    {{/if}}
</section>
</body>
</html>